:root {


    --font-title : Newsreader;
    --font-body : Rubik;
    --background-color: 'white';/*ghostwhite;*/
    --background-transp: rgba(248, 248, 255, .5);
    --background-transp-darker: rgba(248, 248, 255, .25);

    --title-color : #3a3a3a;
    --font-color : #212121; /*#4f4f4f;*/
    --font-color20 : #21212120;
    --color-highlight : #EEC471;
    --color-highlight2 : #DAB28D;


    --color-desierto: #D27B51;/*#E37E71;*/
    --color-semidesierto: #DAB28D;/*#F4B180;*/
    --color-semibosque: #EEC471;/*#EFCA47;*/
    --color-bosque: #99A860;/*#92B879;*/

    --header-border-color: lightgrey;
    --header-height: 2.5rem;

    --emoji-bosque: url('../img/icons/bosque.svg'); /*'🌳 ';*/
    --emoji-semibosque: url('../img/icons/semibosque.svg'); /*'🌲 ';*/
    --emoji-desierto: url('../img/icons/desierto.svg');/*'🏜 ';*/
    --emoji-semidesierto: url('../img/icons/semidesierto.svg'); /*'⛰ ';*/

    --color-vis-variable-label : #636363;
    --color-vis-axis : #E5E5E5;

    --size-controls: 29px;

    --font-size: max(16px, calc(.5em + .75vw));

    --delay: .05s;

}

* {
    box-sizing: border-box;
}

html {

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

input {

    border-radius: 0; /*ios fix*/

}

.prevent-scrolling {
    overflow-y: hidden;
}

img {
    display: block;
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    z-index: 1;
    background-color: white;
    border-bottom: 2px solid var(--header-border-color);
    display: flex;
    align-items: center;
}

.brands-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: var(--header-height);
}

.brands,
.brands a
 {
  display: flex;
  align-items: center;
}

.brands a {
  border: none;
}

.pipe {
  content: '';
  /*display: flex;*/
  height: 1.2rem;
  min-width: .05rem;
  margin: 0 1rem;
  background: var(--header-border-color);
  /*align-self: center;*/
}

.brands a img {
    height: 1.1rem;
    margin-left: calc( var(--header-height) / 2 - 0.55rem);
}

button.menu-toggle {
    display: flex;
    margin-left: auto;
    align-items: center;
}

button.menu-toggle.clicked {

    background-color: var(--font-color);
    color: white;
}

.menu-toggle {
    color: var(--header-border-color);
    align-self: center;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.menu-toggle:hover {

    color: var(--font-color);

}

/* menu */

.menu-backdrop {

    position: fixed;
    top: calc(var(--header-height) - 1px);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--font-color);
    pointer-events: none;
    opacity: 0;
    z-index: 4;
    transition: opacity .5s;

}

.menu-backdrop.activated {

    opacity: .3;
    pointer-events: auto;

}

.menu.is-open {

    /*display: flex;*/
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);

}

.menu {

    pointer-events: none;
    display: flex;
    position: fixed;
    z-index: 4;
    top: calc(var(--header-height) - 1px);
    bottom: 0;
    right: 0;
    width: 200px; /*corrigir*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: transform .5s, opacity .5s;

}

.menu li > a {

    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--font-color);
}

.menu li.menu-highlight > a {
    color: inherit;
}

.menu li > a,
.menu li.no-link {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu li > a:hover {

    background-color: #e2e2e2;
    color: #212121;

}

.menu li {

    text-transform: uppercase;
    font-family: var(--font-body);
    flex: 1 1 auto;
    list-style: none;
    border: 1px solid var(--font-color);
    background-color: white;
    font-size: .8rem;
    width: 100%;
    display: block;

}

.menu li.menu-highlight {

    background-color: #212121;
    color: white;
    font-weight: 400;

}

.menu li.limited-height {

    flex: 0 0 var(--header-height);

}

.menu li + li {
    border-top: none;
}

/*
.menu.is-open li {

    transform: translateY(0);
    transition: transform .2s;

}*/

/*

.menu li:nth-child(1) {
    transition-delay: calc(var(--delay) * 0);
} 
.menu li:nth-child(2) {
    transition-delay: calc(var(--delay) * 1);
} 
.menu li:nth-child(3) {
    transition-delay: calc(var(--delay) * 2);
} 
.menu li:nth-child(4) {
    transition-delay: calc(var(--delay) * 3);
}
.menu li:nth-child(5) {
    transition-delay: calc(var(--delay) * 4);
} 
.menu li:nth-child(6) {
    transition-delay: calc(var(--delay) * 5);
} 
.menu li:nth-child(7) {
    transition-delay: calc(var(--delay) * 6);
} 
.menu li:nth-child(8) {
    transition-delay: calc(var(--delay) * 7);
} 
*/

.menu li img {

    max-height: 1.1rem;

}

/* fim menu */


.dashboard--title {

    text-transform: uppercase;
    font-size : .8rem;
    font-family: var(--font-body);
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    transition: opacity .5s;

}






body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--font-color);
}

h1 {

    margin: 0;
    margin-bottom: 1rem;
    font-family: var(--font-title);
    font-weight: 600;
    line-height: 1.1;
    color: var(--title-color);

}

h2 {

    margin: 0;
    margin-bottom: 1.4rem;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.15;
    color: var(--title-color);

}

.story-step .kicker {

    display: block;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: var(--font-body);
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: var(--font-color);

}

.outer-container {

    margin-top: var(--header-height);
    scroll-behavior: smooth;

}

.map-container {

    position: fixed;
    width: calc(100% - 50vw);
    height: calc(100vh - 27px - var(--header-height));  
    z-index: 1;

}

footer {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    background-color: white;
    font-family: var(--font-body);
    border-top: 1px solid var(--font-color);
}

footer p.footer-text {

    margin: 0;
    width: calc(100% - 50vw);
    line-height: 27px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p.footer-text::before {

    content: 'Proyecto realizado con el apoyo de la ';

}

footer img {

    display: inline;
    height: 12px;
    margin-left: 5px;

}

#map {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.story-container {

    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    background-color: transparent;
    scroll-behavior: smooth;

}

a.go-to-dashboard {

    position: absolute;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: var(--header-height);
    text-decoration: none;
    background-color: var(--color-highlight2);
    color: var(--font-color);
    display: flex;
    align-items: center;
    padding-left: calc(25vw - 18rem);
    border-top: 1px solid var(--font-color);
    opacity: 1;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;

}

a.go-to-dashboard p {

    max-width: 36vw;
    width: 36rem;
    margin: 0 auto;
    font-size: .8rem;
    font-family: var(--font-body);

}

    /*transition: opacity .4s linear;

}

a.go-to-dashboard.hidden {

    opacity : 0;

} */

a.button-go-on {

    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    max-width: 36vw;
    width: 36rem;
    margin: 0 auto;
}

a.button-go-on::before {
    color: transparent;
    content: 'Seguir';
}

a.button-go-on span {

    /* font-size: 2rem; */
    /* font-weight: 100; */
    border: 1px solid var(--font-color);
    color: var(--font-color);
    width: 2rem;
    /* height: 2rem; */
    padding: 5px 0;
    /* transform-origin: right; */
    /* transform: scaleY(.5); */
    display: inline-block;
    text-align: center;
    /* line-height: 4rem; */

}

/*
a.button-go-on::before {

    position: absolute;
    bottom: 0;
    content: "\003E";
    color: var(--font-color);
    font-size: 3rem;
    transform: rotate(90deg) scaleX(.75);
    font-weight: 300;

}*/

/* search */

.container-search {

    /*padding: .8rem 0;*/
    display: flex;
  
    /*border: 1px solid var(--font-color);*/
    height: 2rem;
    background: transparent;
    font-family: var(--font-body);

}

input#location-search {


    flex: 1;
    border: none;
    border-radius: 0;
    border: 1px solid var(--font-color);
    border-left: none;
    outline: none;
    font-size: .7rem;
    background: var(--color-highlight);
    font-family: var(--font-body);  
    padding: 4px;
    color: var(--font-color);
    text-transform: uppercase;
    letter-spacing: .1em;
    /*transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;*/
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
/*
input#location-search.unfolded {

    transform: scaleX(1);

}*/

.search-button {
    background: white;
    border: none;
    border: 1px solid var(--font-color);
    /*border-right: 1px solid var(--font-color);*/
    outline: none;
    cursor: pointer;
    width: var(--size-controls);
  }
  
.search-button img {
    /*object-fit: cover;*/
    /*width: 20px;
    height: 20px;*/
}

.container-search .awesomplete > ul {
    top: var(--size-controls);
    font-size: .7rem;
}

.container-search  div.awesomplete {
    flex: 1;
    display: flex;
}



/* old
.container-search {

    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    padding: .8rem 0;
    display: flex;

}

input#location-search {

    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
    font-family: var(--font-body);

}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  */

/* Story */

.story-step {

    height: calc(100vh - 27px); 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    scroll-snap-align: start;


}

.story-step-inner {

    max-width: 36vw;
    width: 36rem;
    margin: 0 auto;
    /*margin-top: 50vh;
    transform: translateY(-50%);*/
    background-color: var(--background-color);/*var(--background-transp); */


}

.retranca {

    font-size: 2rem;
    margin-bottom: 1rem;

}

/* Data category */

[data-category-highlight] {

    border: 1px solid var(--font-color);
    font-size: .7rem;
    font-family: var(--font-body);
    display: inline-flex;
    align-items: baseline;
    line-height: 1.5;
    font-weight: 500;

}

[data-category-highlight]::before {

    border-right: 1px solid var(--font-color);
    content: '';
    width: calc(.7rem * 1.5 + 0px); /*fonte do elemento * 1.1875 - line height normal do chrome? padronizei em 1.2*/
    background-size: contain;
    align-self: stretch; 

}


[data-category-highlight]::after {

    text-transform: uppercase;
    padding: 0px .4em;
    color: var(--font-color);
    letter-spacing: .1em;
    content: attr(data-category-highlight-text);

}

/*
[data-category-highlight]::after {

    padding-left: 2px;
    color: var(--font-color);
    content: attr(data-category-highlight);

}*/

.story-step:last-child {

    margin-bottom: 100vh;

}

.story-step p {

    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5;

}

/*
.story-step p.text-cover {
    line-height: 1.5;
}*/

/* Story - location card*/

#location-card [data-content]::before {

    content: attr(data-content);

}

#location-card .kicker {

    margin-bottom: .2rem;
    font-size: .7rem;

}

#location-card h2 {

    margin-bottom: .4rem;

}

.story-step p[data-category] {

    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem 1rem;
    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    line-height: normal;
    margin-top: .4rem;


}

.story-step .card-text {

    font-family: var(--font-title);
    font-size: 1rem;

}

.story-step p.card-only-text {

    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--font-color20);
    border-bottom: 1px solid var(--font-color20);
    line-height: 1.5;
}

[data-category]::before {

    padding-right: 1rem;

}

/* bosque */

[data-category='bosque'], 
[data-menu-option="bosque"] {

    background-color: var(--color-bosque);

}

[data-category='bosque']::before, 
[data-category-highlight='bosque']::before,
[data-menu-option='bosque']::before {

    background-image: var(--emoji-bosque);

}

[data-category-highlight='bosque'] {

    background-color : var(--color-bosque)

}

/* semibosque */

[data-category='semibosque'], [data-menu-option="semibosque"] {

    background-color: var(--color-semibosque);

}

[data-category='semibosque']::before, 
[data-category-highlight='semibosque']::before,
[data-menu-option='semibosque']::before {

    background-image: var(--emoji-semibosque);

}

[data-category-highlight='semibosque'] {

    background-color : var(--color-semibosque)

}

/* semidesierto */

[data-category='semidesierto'], [data-menu-option="semidesierto"] {

    background-color: var(--color-semidesierto);

}

[data-category='semidesierto']::before, 
[data-category-highlight='semidesierto']::before,
[data-menu-option='semidesierto']::before {

    background-image: var(--emoji-semidesierto);

}

[data-category-highlight='semidesierto'] {

    background-color : var(--color-semidesierto)

}

/* desierto */

[data-category='desierto'], [data-menu-option="desierto"] {

    background-color: var(--color-desierto);

}

[data-category='desierto']::before, 
[data-category-highlight='desierto']::before,
[data-menu-option='desierto']::before {

    background-image: var(--emoji-desierto);

}

[data-category-highlight='desierto'] {

    background-color : var(--color-desierto)

}

/*



[data-place-type='provincia'] {

    content: 'Provincia';

}

[data-place-type='cidade'] {

    content: 'Departamiento / Municipio';

}

*/

/* vis */

.vis-story-container {

    width: 100%;
    position: relative;

}

.vis-story-stripplot {

    width: 100%;

}

.vis-story-container .vis-story-stripplot-labels-variables {

    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--font-body);
    font-size: 12px;
    line-height: 15px;
    color : var(--color-vis-variable-label);

}

line.vis-story-stripplot-axis {

    stroke: var(--color-vis-axis);
    stroke-width: 1;

}

.vis-story-stripplot-marks {

    opacity : .5;

}

.marks-na {

    opacity : 0;

}

.marks-location-highlighted {

    opacity : 1;
    stroke : black;

}

/* Map */

.mapboxgl-popup-content {

    font-family: var(--font-body) !important;
    padding: 10px 10px !important;
    /*letter-spacing: .1em;
    text-transform: uppercase;*/
    /* part of the style is inline, so we need to use JS to style it */

}

.mapboxgl-popup-tip {

    border-left: none !important;
    align-self: flex-start !important;

}


@media screen and (max-width: 620px) {

    /* talvez usar uma variável para esse tamanho... e só mudar o tamanho da variável no media query 
    --var-width-sections: 50vw;
    e aí dentro do media mudaria para 100vw
    */

    .dashboard--title {

        font-size: .7rem;
        position: static; 
        transform: unset;


    }

    body > header {

        justify-content: space-between;

    }

    button.menu-toggle {

        margin-left: 0;
    }

    a.go-to-dashboard p {

        max-width: 100%;

    }

    .map-container {

        width: 100vw;
        z-index: 0;
    
    }

    footer p.footer-text {
        width: 100vw;
    }

    footer p.footer-text::before {

        content: 'Con el apoyo de la ';

    }

    .story-container {

        width: 100vw;
    
    }

    .story-step {

        height: calc(100vh - 60px);
        max-width: 100vw;
        padding: var(--header-height) 0;
        justify-content: flex-end;
        

    }

    .story-step-inner {

        max-width: 90vw;
        padding: 0;
        background-color: white;
        border-radius: 0;
        border: none

    }

    .story-step:first-of-type .story-step-inner {

        padding: 20px;
        border-radius: 4px;
        border: 1px solid var(--font-color);

    }

    .story-step p.card-only-text {

        padding: 20px;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid var(--font-color);
        border-bottom: none;
        margin: 0;
    }

    a.go-to-dashboard {

        width: 100vw;
        height: calc(var(--header-height) + 33px);
        margin-bottom: -33px;

    }

    a.button-go-on {

        display: block;
        width: 90vw;
        margin: 0;

    }

    a.button-go-on span {
        display: block;
        width: 90vw;
        border-radius: 0 0 5px 5px;
        border: 1px solid var(--font-color);
        padding: 0;
        background-color: white;
    }

    a.button-go-on::before {
        content: '';
    }

    a.button-go-on[href="#fecho"] span {
        margin: 0 5vw;
    }



}

/* accessibility */

.screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}