:root {


    --font-title : Newsreader;
    --font-body : Rubik;
    --background-color: ghostwhite;
    --background-transp: rgba(248, 248, 255, .5);
    --background-transp-darker: rgba(248, 248, 255, .25);

    --title-color : #3a3a3a;
    --font-color : #4f4f4f;

    --color-desierto: #D77E5B;
    --color-semidesierto: #E1BA9B;
    --color-semibosque: #CEBF74;
    --color-bosque: #7C9A68;

    --header-border-color: lightgrey;
    --header-height: 2.5rem;

}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    z-index: 1;
    background-color: white;
    border-bottom: 2px solid var(--header-border-color);
    display: flex;
}

.brands-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: var(--header-height);
}

.brands,
.brands a
 {
  display: flex;
  align-items: center;
}

.brands a {
  border: none;
}

.pipe {
  content: '';
  /*display: flex;*/
  height: 1.2rem;
  min-width: .05rem;
  margin: 0 1rem;
  background: var(--header-border-color);
  /*align-self: center;*/
}

.brands a:first-child img {
  width: 3rem;
  /*align-self: center;*/
  margin-left: 1rem;
}

.brands a:last-child img {
  height: .9rem;
    /*align-self: center;*/
}

nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu-toggle {
    color: var(--header-border-color);
    align-self: center;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--font-color);
}

h1 {

    margin: 0;
    margin-bottom: 1.4rem;
    font-family: var(--font-title);
    font-weight: 500;
    line-height: 1.2;
    color: var(--title-color);

}

h1 .kicker {

    display: block;
    font-size: .8rem;
    text-transform: uppercase;
    font-family: var(--font-body);
    font-weight: 400;
    margin-bottom: 1.4rem;
    color: var(--font-color);

}

.outer-container {

    margin-top: var(--header-height);

}

.map-container {

    position: fixed;
    width: calc(100% - 50vw);
    height: 100vh;  
    z-index: 1;

}

#map {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.story-container {

    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    background-color: transparent;

}

a.go-to-dashboard {

    position: absolute;
    right: 0;
    font-size: .8rem;
    top: 100vh;
    width: 50vw;
    transform: translateY(-100%);
    height: calc(2 * var(--header-height));
    text-decoration: none;
    background-color: #efefef;
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    border-top: 3px solid var(--header-border-color);
    opacity: 1;

    transition: opacity .4s linear;

}

a.go-to-dashboard.hidden {

    opacity : 0;

}

.story-step {

    max-width: 36vw;
    margin: 50vh auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    background-color: var(--background-transp); 

}

.story-step:last-child {

    margin-bottom: 100vh;

}

.story-step p {

    font-weight: 400;
    font-size: .9rem;
    line-height: 1.3;

}

@media screen and (max-width: 620px) {

    /* talvez usar uma variável para esse tamanho... e só mudar o tamanho da variável no media query 
    --var-width-sections: 50vw;
    e aí dentro do media mudaria para 100vw
    */

    .map-container {

        width: 100vw;
        z-index: 0;
    
    }

    .story-container {

        width: 100vw;
    
    }

    .story-step {

        max-width: 100vw;
        padding: 1rem 10px;

    }

    a.go-to-dashboard {

        width: 100vw;

    }



}